*{ padding:0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:lightskyblue;
}

#container{
    width: 80%;
    margin: 0px auto;
    box-shadow: 0px 0px 50px 0px blueviolet;
    border: 1px solid red;
    background-color: white;
}

#header{
    height: 145px;
    background: #f0f0f0;
    
}
#logo{ 
    padding: 20px;
    margin-left: 20px;
    float: left;
}
#logo img{
    float: left;
    height: 100px;
}
#logo a
{
    float: left;
    font-size: 25px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #01B1EA;
    font-weight: bold;
    text-decoration: none;
    margin-top: 28px;
    margin-left: 25px;
    text-shadow: 0px 2px 1px #222250;
    transition: all 300ms;
}
#lofo a:hover
{
    text-shadow: 0px 0px 4px #01B1EA;
}
/*Menu*/
#menu{
    clear:both;
    background: #2222;
    color:white;
    height: 55px;
    border-bottom: 10px solid #01b1ea;
}
#menu ul{
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
}
#menu li{
    line-height: 55px;
    float:left;
    border-right: 5px solid yellowgreen;
}
#menu a{
    display: block;
    color: black;
    text-decoration: none;
    padding-left: 12px;
    padding-right: 12px;
    transition: all 300ms;
}
#menu a:first-child{
    border-left: 3px solid #363636;
}
#menu a:hover{
    background: #01B1EA;
}
#content{
    margin: 0px auto;
    overflow: hidden;
    background: white;
    border: 4px solid blue;
}
#lateral{
    width: 20%;
    min-height: 600px;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    border: 4px solid blue;
}
#lateral .block_aside{
    display: block;
    width: 90%;
    margin: 5px;
    padding: 10px;
    border: 2px solid green;
}