*{ padding:0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:lightskyblue;
}

#container{
    width: 80%;
    margin: 0px auto;
    box-shadow: 0px 0px 50px 0px blueviolet;
    border: 1px solid red;
    background-color: white;
}

#header{
    height: 145px;
    background: #f0f0f0;
    
}