*{ padding:0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:lightskyblue;
}

#container{
    width: 80%;
    margin: 0px auto;
    box-shadow: 0px 0px 50px 0px blueviolet;
    border: 1px solid red;
    background-color: white;
}

#header{
    height: 145px;
    background: #f0f0f0;
    
}
#logo{ 
    padding: 20px;
    margin-left: 20px;
    float: left;
}
#logo img{
    float: left;
    height: 100px;
}
#logo a
{
    float: left;
    font-size: 25px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #01B1EA;
    font-weight: bold;
    text-decoration: none;
    margin-top: 28px;
    margin-left: 25px;
    text-shadow: 0px 2px 1px #222250;
    transition: all 300ms;
}
#lofo a:hover
{
    text-shadow: 0px 0px 4px #01B1EA;
}